html {
  font-size: 62, 5%;
}

body {
  background-color: whitesmoke;
}

h1 {
  font-size: 13rem;
  color: darkgreen;
  float: left;
}

p {
  font-size: 3rem;
  color: whitesmoke;
  overflow: hidden;
}
